// HeaderNavigation
.header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #735397;
    color: #fff;
    .header-title {
        font-weight: 600;
        font-size: 18px;
    }
    .dropdown-user-menu {
        position: absolute;
        background-color: #fff;
        list-style: none;
        min-width: 160px;
        top: 55px;
        right: 0px;
        z-index: 5;
        padding: 5px 0px;
        font-weight: normal;
        line-height: 1.4;
        font-size: 14px;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 2px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        .divider {
            height: 1px;
            margin: 9px 0;
            overflow: hidden;
            background-color: #dddddd;
        }
        span {
            display: block;
            padding: 3px 20px;
            color: #262626;
            &:hover, &:focus {
                cursor: pointer;
                text-decoration: none;
                color: #262626;
                background-color: #f5f5f5;
            }
        }
    }
}

.main {
    display: flex;
    flex: 1;
    padding: 20px;
    .left-sidebar {
        max-height: 295px;
        flex: 0.5;
        background-color: #735397;
        margin-right: 40px;
    }
    .main-content {
        flex: 3
    }
}

.image-logo {
    display: flex;
    justify-content: center;
}

.user-info {
    display: flex;
    justify-content: center;
    .btn-right {
        width: 70%;
        margin-left: 20px;
    }
    .form-control {
        width: 70%;
    }
    .err-border {
        border-color: #F00;
    }
    .err-message {
        color: #F00;
        margin-left: 3px;
        align-self: baseline;
    }
}

.nav-item {
    display: block;
    border-bottom: 1px solid #eee;
    color: #fff;
    padding: 6px 15px;
    font-size: 14px;
}

.nav-dropdown {
    background-color: #F7F7F7;
    padding: 10px 15px;
}

.nav-dropdown-item {
    display: block;
    font-size: 13px;    
    color: #444;
    &:hover {
        color: #444;
    }
}

.card {
    font-size: 14px;
    border-radius: 0px;
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #333333;
        background-color: #DEDEDE;
        border-radius: 0px;
    }
    
    .card-title {
        font-weight: 600;
        margin: 0px;
        font-size: 14px;
    }

    .card-control {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        input {
            max-height: 25px;
            max-width: 160px;
        }
    }
}

.table-active {
    background-color: rgba(238, 238, 238, 0.62);
    td {
        font-size: 10px;
        padding: 6px;
    }
}

.table-props {
    &:nth-of-type(odd) {
        background-color: #f9f9f9;
    }
    td {
        padding: 6px;
        font-size: 14px;
        border-top: 1px solid #dddddd;
    }
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px 15px;
    background-color: #007BB7;
    color: #FFF;
    .statistic {
        font-size: 50px;
        margin-bottom: 0px;
    }
}

.order-heading {
    margin-bottom: 30px;
}

.order-control {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.button-controls {
    display: flex;
    justify-content: center;
}
