@import 'App';
@import 'Home';
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

a {
    text-decoration: none;
    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.btn {
    border-radius: 2px;
    font-size: 14px;
    margin-left: 15px;
}

.btn-primary {
    color: #ffffff;
    background-color: #3b5998;
    border-color: #2E4679;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 1px;
}

.form-control {
    display: block;
    width: 75%;
    height: 34px;
    margin-left: 20px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fafafa;
    background-image: none;
    border: 1px solid #eeeeee;
}

.form-group {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.form-label {
    text-align: right;
}

.fa-icons {
    margin: 0px 5px 2px 0px;
    &:hover {
        cursor: pointer;
    }
}


